@import 'nib'

global-reset()

.clearfix
  clearfix()

a
  text-decoration none
  color white

a:hover
    color #ccc

#head
  font-family sans-serif
  width 100%
  height 950px
  background-color #171717
  background linear-gradient(left top,  #171717 0%,#363636 100%,#171717 100%)

#navi
  height 70px
  font-size 90%

  ul
    display table
    color white
    height 70px
    position absolute

    li
      display table-cell
      vertical-align middle
      padding 5px

  .lang
    right 450px

  .sns
    right 200px

#keyvisual
  width 809px
  height 455px
  background-image url("./image/"language"/keyvisual.jpg")
  margin 0 auto

#movie
  text-align center

#movietitle
  width 212px
  height 21px
  background-image url("./image/movietitle.png")
  margin 25px auto 18px auto

#main
  width 100%

#about_image
  width 501px
  height 205px
  background-image url("./image/"language"/about.png")
  margin 15px auto

#howitworks_image
  width 776px
  height 658px
  background-image url("./image/"language"/howitworks.png")
  margin 30px auto

#whatitbrings_image
  width 715px
  height 1299px
  background-image url("./image/"language"/whatitbrings.png")
  margin 40px auto

#name
  width 358px
  height 166px
  background-image url("./image/name.png")
  margin 40px auto

#footer
  height 200px
  color: white
  padding 50px 30px
  background-color #171717
  background linear-gradient(left top,  #363636 0%,#171717 100%,#363636 100%)

  ul
    display table

    li
      display table-cell
      padding 0px 20px

      .organization
        padding-top 20px

      .member
        padding-top 10px
