doctype html
html
  head
    title Another Watch
    meta(charset="utf-8")
    meta(property="og:title", content="Another Watch")
    meta(property="og:type", content="website")
    meta(property="og:description", content="Another Watch shows the time in accordance to your mood, making your life happier.")
    meta(property="og:site_name", content="Another Watch")
    meta(property="og:image", content="http://interactive-salaryman.com/pieces/another_watch/image/en/keyvisual.jpg")
    meta(name="keywords", content="Another Watch, smart watch, future watch, personal time, perception of time")
    meta(name="description", content="Let's update your time ! Another watch is what a watch is like in the future.")
    meta(name="viewport", content="width=1200px")
    link(rel="stylesheet", href="css/main.css")
    script(src="js/app.js")
  body
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=322876507872909&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #head
      #navi
        ul.lang
          li
            a(href="ja.html") 日本語
          li
            a(href="en.html") English

        ul.sns
          li.facebook
            .fb-like(data-href="", data-layout="button_count", data-action="like", data-show-faces="false", data-share="false")
          li.twitter
            a.twitter-share-button(href="https://twitter.com/share")
              =Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

      #keyvisual_en

      #movie
        #movietitle
        iframe(width="560", height="315", src="//www.youtube.com/embed/6jXkCSZHGcI?showinfo=0&rel=0", frameborder="0", allowfullscreen)
    #main
      h1 About
      #about_image
      .caption Another Watch shows the time in accordance to your mood, making your life happier.

      h1 How it works

      ol.howitworks_step
        li
          .first
            p Another Watch has a built-in action sensor.
          #howitworks_step1
        li
          .second
            p It tracks your activities.
          #howitworks_step2
        li
          .third
            p It can automatically tell whether
            p you are having fun or feeling bored.
          #howitworks_step3

      .howitworks_down

      ul.howitworks_mode

        li.mode_name
          p When you're having fun
          p → Fun-mode
        li.mode_reason
          p When you are excited, for example enjoying a drink,
          p Another Watch will be in "fun-mode" in which time moves slowly for you.

      ol.howitworks_mode_step
        li
          #howitworks_mode1-1
        li
          #howitworks_mode1-2
        li.step_right
          .howitworks_right
        li.step_clock
          #howitworks_mode1-3

      .mode_spacer

      ul.howitworks_mode

        li.mode_name When you're feeling bored
          p → Bored-mode
        li.mode_reason
          p When you have nothing to do or you feel everything is slow,
          p Another Watch will be in "bored-mode" in which time moves forwards quickly for you.

      ol.howitworks_mode_step
        li
          #howitworks_mode2-1
        li
          #howitworks_mode2-2
        li.step_right
          .howitworks_right
        li.step_clock
          #howitworks_mode2-3

      h1 What it brings
      .caption
        p In a world where people have their own "personal time",
        p the difference of time among individuals brings something new into this world.

      #whatitbrings_description
        ul.whatitbrings_contents
          li
            #whatitbrings_image1
            #whatitbrings_title1
            p Differences in feeling → differences in time ?
            p If there are differences in feeling between a couple,
            p their date would end at different time.
          li
        ul.whatitbrings_contents
          li
          li
            #whatitbrings_image2
            #whatitbrings_title2
            p Let's get out from boring meetings
            p and do enjoyable work more.
            p A paid per-hour job might disappear.
        ul.whatitbrings_contents
          li
            #whatitbrings_image3
            #whatitbrings_title3
            p Let's focus more on interesting subjects for you.
            p You don't need to stay in boring classes any more.
            p A class as a place for students to have the same lesson
            p at the same time might disappear.
          li
        ul.whatitbrings_contents
          li
          li
            #whatitbrings_image4
            #whatitbrings_title4
            p Traffic jam and crowded trains might be over.
            p If people are following their own "personal time",
            p problems occurred by that too many people are acting
            p at the same time might disappear.
        ul.whatitbrings_contents
          li
            #whatitbrings_image5
            #whatitbrings_title5
            p In an era when people are living in the space,
            p there might be no need to have 24hours a day,
            p which was based on the rotation of the earth.
            p People might adopt their "personal time"
            p to make their life happier.
          li

      #punchline
        .en
          p According to Einstein’s Relativity theory, there actually exist
          p morethan one times that move at different paces.
          p It mightn't be long for humanity before updating
          p the perception of time by adopting the "personal time".

      #name

    #footer
      ul.credit
        li CREDIT
        li
          p Dentsu Inc.
          p.member
            ul
              li Yasuharu Sasaki
              li Toru Oyama
              li Hajime Yakushiji
              li Ochi Kazuyoshi
              li Yuna Takemura
          p.organization Uniba Inc.
          p.member
            ul
              li Rei Kawai
              li Shinichi Fukuma
          p.organization FACTUS DESIGN INC.
          p.member
            ul
              li Bunsyu Hachiro
          p.organization AOI Pro.
          p.member
            ul
              li Satoshi Kuno
      ul.contact
        li.title CONTACT
        li support-anotherwatch@uniba.jp
      #copyright &copy; 2014 Another Watch Project All rights reserved.
